.kintoneplugin-input-text {
  align-items: center;
}

.container {
  width: 100%;
  min-width: 100%;
}

table td:first-child {
  border-bottom-style: hidden;
  border-top-style: hidden;
  border-left-style: hidden;
}

#dropdown-question {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

#kintoneplugin-ai-setting {
  margin-left: 52px;
  border: 1px solid #3333;
  height: 30%px;
  width: 733px;
  display: flex;
  flex-direction: column;
}

#apiKey {
  width: 465px;
}

#api-key {
  margin-top: 10px;
  margin-bottom: 15px;
  display: flex;
  gap: 7px;
}

.azureComponent input {
  width: 220px;
}

.hidden {
  display: none;
}

.version-platform {
  margin-top: 15px;
  display: flex;
}

.azureComponent {
  display: flex;
  margin-top: 10px;
  gap: 7px;
  margin-left: 8px;
}

.azureComponent>div {
  flex: 1;
  /* Distribute equal width to all child divs */
  min-width: 0;
  /* Ensures the divs can shrink */
}

.space_ptompt_template_button {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
}

#button-action {
  display: flex;
  margin-left: 6.9rem;
  margin-top: 35px;
  gap: 2.3%;
}

/* #container-table-setting-prompt-template {
  margin-left: 35px;
} */

.button-insert {
  margin-top: 25px;
}

tbody tr {
  align-items: center;
}

#kintoneplugin-table-th-table {
  height: 0.5px;
  background-color: #3333;
  display: none;
}

#navbar-show-content {
  display: flex;
  flex-direction: column;
  height: 30px;
  width: 100%;
  align-items: center;
  display: none;
}

/* #navbar-show-content{
  display: none;
} */
.kintoneplugin-input-checkbox {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 4px;
}

#settingName {
  margin-bottom: 10px;
}

#label-show-setting-name {
  display: flex;
  align-items: center;
  margin-top: 22px;
  margin-left: 15px;
  margin-right: 15px;
  justify-content: end;
}

.Explain {
  margin-top: 10;
  width: 705px;
}

.prompt-setting {
  border: 1px solid #3333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}

.system-role {
  display: none;
}

.promptContent,
.systemRole {
  height: 100px;
  width: 699px;
}

.promptContent:focus,
.systemRole:focus {
  outline: none;
}

#checkbox-slide-up {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 7px;
}

.slide-up {
  margin-right: 15px;
  cursor: pointer;
}

.slide-down {
  margin-right: 15px;
  cursor: pointer;
}

.slice-down {
  margin-right: 15px;
}

#div-space_ptompt_template_button {
  display: flex;
  align-items: center;
  width: 733px;
}

#div-code-master {
  display: flex;
  align-items: center;
  width: 733px;
}

#label-show-title {
  margin-top: 10px;
  margin-left: 53px;
  font-size: 20px;
  font-weight: bold;
}

#td-table-space-prompt-template-button {
  border: 1px solid #3333;
  margin-left: 50px;
}

#table-space-prompt-template-button {
  margin-left: 35px;
}

#td-table-code-master {
  border: 1px solid #3333;
  margin-left: 50px;
}

/* #table-code-master {
  margin-left: 35px;
} */

#td-setting-prompt-template {
  border: 1px solid #3333;
  height: 70px;
  min-width: 500px;
}

.button-add-remove-row-promptSetting {
  display: flex;
}

.button-add-remove-row-table-spaceForPrompt {
  display: flex;
  margin-top: 20px;
}

.button-update-space-spaceButton {
  margin-left: 5px;
}

.space_Button {
  display: none;
}

.modelVersion-Azure {
  display: flex;
  flex-direction: column;
}

.modelVersion-Azure {
  display: none;
}

.validation-error {
  border-color: red;
}

.maxToken {
  width: 220px;
  margin-top: 4px;
}

.maxTokens {
  margin-left: 10px;
}

.swal2-content {
  max-height: 300px;
  /* Adjust this value based on the desired maximum height */
  overflow-y: auto;
  width: auto;

}

.swal2-header {
  width: auto;
}

#spaceControls {
  font-size: 14px;
}

.custom-class {
  font-size: 10px;
}

/* styles.css */
#custom-context-menu {
  position: absolute;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 5px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}

#custom-context-menu button {
  display: block;
  width: 100%;
  padding: 5px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
}

.custom-confirm-button {
  color: #f7f9fa !important;
}

.custom-cancel-button {
  color: #3498db !important;
}

.kintoneplugin-select {
  /* width: 220px; */
  margin: 0 !important;
}

#label-token {
  font-size: 12px;
}

.labelPrompt {
  display: flex;
  margin: 8px;
}

.labelPrompt>div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.labelPrompt>div:first-child label {
  font-size: 14px;
}


#kintoneplugin-setting-body,
#kintoneplugin-code-master,
#kintoneplugin-setting-space {
  min-width: 85%;
  /* max-width: 850px; */
  margin: 0 !important;
}

#kintoneplugin-setting-body th:first-child,
#kintoneplugin-code-master th:first-child,
#kintoneplugin-setting-space th:first-child {
  width: 5%;
}


#kintoneplugin-setting-body #td-setting-prompt-template,
#kintoneplugin-code-master #td-table-code-master,
#kintoneplugin-setting-space #td-table-space-prompt-template-button {
  min-width: 75%;
}

#kintoneplugin-setting-body .kintoneplugin-table-td-operation.operation-column,
#kintoneplugin-code-master .kintoneplugin-table-td-operation.operation-column,
#kintoneplugin-setting-space .kintoneplugin-table-td-operation.operation-column {
  min-width: 5%;
}

#container-table-settingPromptTemplate {
  margin-top: -1.5rem !important;
}

.drag-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100% !important; 
  padding: 20px;
}

.drag-icon i{
  font-size: 20px;
  cursor: grab;
}

.ui-state-highlight {
  height: 2.5em;
  background-color: #f0f0f0;
  border: 1px dashed #ccc;
}

.recreate-button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.recreate-button button {
  margin-left: 4.7rem;
}

select:disabled {
  cursor: no-drop;
}

.kintoneplugin-select select:disabled,
.kintoneplugin-select.disabled-select{
  background-color: #eee;
}

.recreate-area {
  margin-bottom: 0px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swal2-content p{
  margin: 0 !important;
}

.kintoneplugin-input-outer #app_id {
  width: 3rem !important;
}

