.custom-space-el {
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  gap: 5px;
  /* justify-content: flex-start; */
  margin-top: -20px;
}

.custom-dropdownTitle {
  margin-bottom: -20px;
  font-size: 15px;
}

.search-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-right: -2px;
  /* margin-bottom: -20px; */
}

.separatornumber {
  margin: 0;
  font-size: 15px;
  margin-top: -3px;
  color: #4CAF50;
}

.wrapperd-number {
  display: flex;
  align-items: center;
  margin-top: -4px;
}

.separator-datepicker {
  margin: 0;
  font-size: 15px;
  margin-top: -6px;
  color: #4CAF50;
}

.wrapper-datepiker {
  display: flex;
  margin-bottom: -10px;
}

.kintoneplugin-button-dialog-ok {
  font-size: 15px;
  min-Width: 20px;
  margin-Left: 1px;
  color: white;
  border: none !important;
  cursor: pointer;
  margin-top: 20px;
  outline: none !important;
  box-shadow: none !important;
  background-color: white;
}

.kintoneplugin-button-dialog-ok:hover {
  color: white;
  background-color: white;
}

.btnClear {
  font-size: 15px;
  min-Width: 15px;
  /* margin-Left: 10px; */
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}


.search-items {
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* margin-bottom: 20px; */
}

.label {
  margin-bottom: -20px;
  font-size: 15px;
  /* color: white; */
}

.kintoneplugin-dropdown {
  width: 0;
  min-width: 0;
  margin: 0;
  padding: 0;
  height: 35px;
  font-size: 15px;
  color: rgb(93, 92, 92);
}

.element-button {
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  border: none !important;
  outline: none !important;
  /* margin-left: -10px; */
}

.options-class-date .kuc-date-picker-1-18-0__group input[type=text].kuc-base-date-1-18-0__input {
  width: 0;
  margin: 0;
  padding: 0;
  height: 35px !important;
  font-size: 15px;
}

.kintoneplugin-input-text {
  width: 0;
  height: 35px;
  font-size: 15px;
  padding: 0;
  margin-bottom: 1px;
  padding: 5px;
}

.option {
  font-size: 15px;
  gap: 5px;
}

.searchButton {
  font-size: 15px;
}

.class-btn .kuc-button-1-18-0__button {
  font-size: 15px;
  width: 20px;
  height: 35px;
  min-width: 100px;
  color: black;
}

.custom-confirm-button {
  color: #f7f9fa !important;
}

.custom-cancel-button {
  color:  #3498db!important;
}